h1{
    color: violet;
}
span{
    color: turquoise;
}
#l1{
    color: red;
}
button{
    background-color: rgb(94, 49, 219);
    color: white;
    border-radius: 20px;
}
button:hover{
    background-color: white;
    color: rgb(91, 17, 160);
}